/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 25, 2019, 3:42:52 PM
    Author     : Nik
*/

/* Add a black background color to the top navigation */
.navbar {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: lightskyblue;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: lightskyblue;
  color: white;
}

.highlight {
    text-align: center;
    font-size: 40px;
    color: indianred;
    font-weight: bold;
}

.donation {
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: left;
    width: 40%;
    padding: 3px;
    background-color: #f2f2f2;
}

.donation input[type=submit]{
    
    padding: 5px;
    position: relative;
    left: 40%;
    
}

h1{
    text-align: center;
}

h2{
    text-align: left;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

body {
    font-family: "Bookman Old Style", sans-serif;
    font-weight: bolder;
    background-color: white;
}

div {
    border:2px solid black;
}

p{
    font-size: 17px;
    margin-right:250px;
}